@import "tailwindcss";

:root {
  --background: #D3D3D3;
  --foreground: #171717;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
  padding: 1rem;
}

/* Контейнер с адаптивными отступами */
.container {
  width: 100%;
  padding: 1rem;
}

/* Mobile: от 360px */
@media (min-width: 360px) {
  .container {
    padding: 1.5rem;
  }
}

/* Tablet: от 768px */
@media (min-width: 768px) {
  .container {
    padding: 2rem;
    max-width: 768px;
    margin: 0 auto;
  }
}

/* Desktop: от 1440px */
@media (min-width: 1440px) {
  .container {
    padding: 3rem;
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* Пример адаптивного текста */
.responsive-title {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .responsive-title {
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  .responsive-title {
    font-size: 2.5rem;
  }
}

@theme inline {
  /* Шрифты */
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-montserrat);
  --aspect-retromax: 4 / 3;
  /* Кастомные цвета */
  --color-footer: #F9F4E2;
  --color-green: #70C05B;
  --color-orange1: #FF6633;
  --color-orange2: #FCD5BA;
  --color-gray: #BFBFBF;
  --color-bgGray: #D3D3D3;
  
  /* Кастомные брейкпоинты Tailwind */
  --breakpoint-mobile: 22rem;   /* 360px */
  --breakpoint-tablet: 48rem;     /* 768px */
  --breakpoint-desktop: 90rem;    /* 1440px */
}